.global-stats {
   min-height: 40vh;
   background: linear-gradient(rgba(18, 98, 255, 0.9), rgba(18, 98, 255, 0.9)),
      url('./../images/banner.jpg') no-repeat center/cover;
   color: $c-white;
   display: flex;
   align-items: center;
   justify-content: center;
   letter-spacing: 1px;
   padding: 5rem 0;

   .container {
      display: flex;
      flex-direction: column;
      text-align: center;
   }

   .description {
      color: rgba($c-white, 0.9);
      font-style: italic;
      margin-bottom: 5rem;
   }
}

.global-stats-row {
   display: flex;
   justify-content: space-around;
}

.stat-box {
   // padding: 0 2rem;

   h3 span {
      font-size: $h3;
   }
      
   p {
      color: rgba($c-white, 0.9);
   }
}
