// Header Component
.main-head {
   background: linear-gradient($c-purple, lighten($c-purple, 10%)); //00303f
   color: $c-white;
   letter-spacing: 1px;
   padding: 5rem 2rem;

   .container-m {
      display: flex;
      flex-direction: column;
      text-align: center;
   }

   .description {
      color: darken($c-white, 5%);
      font-style: italic;
      margin-bottom: 10rem;
   }
}

.global-summary {
   display: flex;
   justify-content: space-around;
}

// SummaryBox Component
.summary-box {
   h3 span {
      font-size: $h3;
      font-weight: 600;
   }
      
   p {
      color: darken($c-white, 5%);
      margin-top: 1rem;
   }
}
