.spinner {
   height: 65px;
   width: 65px;
   margin: auto;
   border: 12px solid darken($c-white, 8%);
   border-top: 12px solid lighten($c-purple, 10%);
   border-radius: 50%;
   margin-top: 30px;
   animation: spin 2s linear infinite;
   // z-index: 1;
}

// Loading animation
@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}